# Environment: dev | prod
ENVIRONMENT=dev
DEBUG=true

DB__HOST=localhost
DB__PORT=5432
DB__USER=tbooker
DB__PASSWORD=change_me
DB__NAME=tbooker_dev

REDIS__HOST=localhost
REDIS__PORT=6379
REDIS__TTL_SECONDS=30
